<div class="section">
  <div class="row">
    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center light-blue-text">
          <i class="material-icons">flash_on</i>
        </h2>
        <h5 class="center">Collect all of your stuff</h5>
        <p class="light">
          Duis malesuada felis quis tincidunt interdum. Duis laoreet mi a gravida maximus. Quisque eu rhoncus nulla. Proin lorem tortor, consequat sed venenatis et, malesuada eget turpis. Sed a posuere libero.
        </p>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center light-blue-text">
          <i class="material-icons">group</i>
        </h2>
        <h5 class="center">Focused on ease of use</h5>
        <p class="light">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas gravida elit auctor cursus condimentum. Suspendisse tincidunt et neque vitae aliquet. Sed elit lorem, scelerisque eget tempus vel, aliquet ac enim.
        </p>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center light-blue-text">
          <i class="material-icons">settings</i>
        </h2>
        <h5 class="center">Configured for you</h5>
        <p class="light">
          Maecenas eget felis porta, vulputate nulla eu, vehicula nibh. Vivamus lacinia lacus erat, non egestas dolor faucibus eget.
        </p>
      </div>
    </div>
  </div>
</div>
