<footer class="page-footer orange">
  <div class="container">
    <div class="row">
      <div class="col l3 s12">
        <h5 class="white-text">Company Bio</h5>
        <p class="grey-text text-lighten-4">
          We do stuff and things because we want to
        </p>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Settings</h5>
        <p class="grey-text text-lighten-4">
          Some settings
        </p>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Connect</h5>
        <p class="grey-text text-lighten-4">
          You really need to connect with us
        </p>
      </div>
    </div>
  </div>
</footer>
